$branco: #fafafa;
$verde-01: #c1ebab;
$verde-02: #98dd79;
$verde-03: #86d265;
$verde-04: #55b131;
$verde-05: #3f8d23;
$verde-06: #326c1f;
$verde-07: #274a1d;
$marrom: #795548;
$preto-verde: #11280b;
$preto-01: #181818;

$light: 300;
$medium: 500;
$bold: 700;
